body {
  margin: 0;
  font-family: cursive;
  text-align: center;

  background-image: url('fond.png');
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100%;

  min-height: 100vh;
}

/* CAMERA BOX (adaptatif réel) */
.preview-box {
  display: inline-block;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #333;
  background: black;

  max-width: 400px;
  width: 100%;
}

/* VIDEO (plein cadre propre) */
#video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 supprime les bandes */
  transform: scaleX(-1);
  
}

/* PREVIEW */
#preview img,
#preview video {
  transform: scaleX(-1);
  width: 90%;
  max-width: 400px;
  border-radius: 30px;
  border: 2px solid #333;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px;
}

/* BUTTONS */
button {
  font-family: cursive;
  background: #d6ccba;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* IMPORT */
#importBtn {
  margin: 10px;
  background: black;
  color: white;
}

/* RECORD */
#recordingIndicator {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  display: none;
}

/* ACTION BUTTONS */
#downloadBtn,
#uploadBtn {
  display: none;
  margin: 20px auto;
}

/* 📱 MOBILE OPTIMISÉ */
@media (max-width: 600px) {

  h1 {
    font-size: 20px;
  }

  /* caméra prend presque tout l'écran */
  .preview-box {
    max-width: 300px;
    width: 95vw;
  }

  #video {
    width: 100%;
    height: auto;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 80%;
    max-width: 300px;
  }

  #preview img,
  #preview video {
    max-width: 300px;
    width: 95%;
  }
}